html {
  scroll-behavior: smooth;
}

.navbar-brand {
  margin-left: 10px;
}

.title_container {
  margin-left: 10px;
  margin-right: 10px;
}

.paste_container {
  margin-left: 10px;
  margin-right: 10px;
}

.feed_container {
  margin-left: 10px;
  margin-right: 10px;
}
